*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.content-header{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.panel{
    border: 2px solid #F6F6FA;
    border-radius: 15px;
}
.panel-header{
    background-color: #F6F6FA;
    padding: 15px;
    margin-bottom: 25px;
}

.bg-gray{
    background-color: #F6F6FA;
}

.check{
    width: 15px;
    height: 15px;
    padding: 1px;
    margin-right: 5px;
    vertical-align: middle;
}
.av-legend-container{
    min-height: 270px;
    text-align: left;
    align-items: flex-start;
}

.av-legend{
    white-space: pre;
    transform: rotate(90deg);
    transform-origin: center left;
    position: absolute;
    left: 50px;
}


@keyframes slideDown {
    0%{
       
    }
    100%{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    
}


.mt-1r{
    margin-top: 1rem;
}

.mt-2r{
    margin-top: 2rem;
}

.mt-3r{
    margin-top: 3rem;
}

.mx-1r{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hide{
    display: none;
}

.pdl-1r{
    padding-left: 1rem !important;
}

.pdr-1r{
    padding-right: 1rem !important;
}

.px-2r{
    padding: 0 2rem;
}


.mb-0{
    margin-bottom: 0 !important;
}

.btn-blue{
    border: solid 1px #819BF5;
    border-radius: 25px;
    color: #819BF5 !important;
}

.btn-blue:hover{
    color: white !important;
    background-color: #819BF5;
}

.color-blue{
    color: #819BF5 !important;
}

.mb-05{
    margin-bottom: 0.5rem;
}

.mt-05{
    margin-top: 0.5rem;
}

.user_item{
    display: flex;
    align-items: center;
}

.user_photo{
    text-align: center;
    margin-right: 1.5rem;
}

.user_photo_img{
    width: 120px;
    margin-bottom: 8px;
}

.upload_photo_btn{
    color: #53A2F4;
    font-weight: bold;
}

.user_data{
    margin-top: -25px;
}

.font-bold{
    font-weight: bold;
}

.btn-blue{
    padding: 4px 20px;
    font-weight: bold;
}
.user_country_region{
    margin-top: 4px;
}

.flag_img{
    width: 40px;
}